a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
}
